{% verbatim %}
<script type="text/x-handlebars" id="dashboard">
    <ul class="breadcrumbs">
        <li class="current">Dashboard</li>
    </ul>

    <div class="panel">
        Welcome.
    </div>
    
</script>
{% endverbatim %}