{% verbatim %}
<script type="text/x-handlebars" id="account">
    <ul class="breadcrumbs">
        <li>{{#link-to 'dashboard'}}Dashboard{{/link-to}}</li>
        <li class="current">My Account</li>
    </ul>

    <div class="panel">
        Welcome
    </div>
</script>
{% endverbatim %}