{% extends "@admin/base.twig" %}

{% block body %}
    <h3>{{ title }}</h3>
    <p>{{ body }}</p>

    <a class="button radius" href="/admin/users/{{ stored_user.id }}">Edit my acount</a>
{% endblock %}