{% extends "@admin/base.twig" %}

{% block body %}
    <h3>{{ title }}</h3>
    <a class="button radius success small" href="/admin/users/add-user">
        <i class="fi-torsos-all"></i>Add a User
    </a>
    <p>{{ body }}</p>
   
    {% for user in users %}
        <li>
            <a href="/admin/users/{{ user.id }}">
                {{ user.username }}
            </a>
        </li>
    {% endfor %}

{% endblock %}